body {
    padding-top: 86px; 
}
main p {
    text-align: justify;
}

/* Styles applied to screens between 576 and 768 pixels wide */
@media screen and (min-width: 576px) and (max-width: 768px) {
    /* CSS rules for screens between 576 and 768 pixels wide */
    .speakers {
        display:flex;
        flex-direction: column;
    }



  }

  @media screen and (max-width: 576px) {
    main img {
        height: 300px;
        width:auto
    }
  }